.divtdi-100-rand-style6 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -240px;
  background-color: var(--color-olivedrab-200);
  width: 1920px;
  overflow: hidden;
}
.heading-333,
.item-link234,
.item-link235,
.item-link236 {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.heading-333 {
  top: 42px;
  line-height: 21.6px;
  font-weight: 800;
  width: 210.09px;
  height: 21px;
}
.item-link234,
.item-link235,
.item-link236 {
  top: 5px;
  line-height: 30px;
  width: 184.67px;
  height: 19px;
}
.item-link235,
.item-link236 {
  top: 35px;
  width: 159.45px;
}
.item-link236 {
  top: 65px;
  width: 259.89px;
}
.item-link237,
.item-link238,
.item-link239,
.item-link240,
.item-link241,
.item-link242,
.item-link243 {
  position: absolute;
  top: 95px;
  left: 0;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 182.95px;
  height: 19px;
}
.item-link238,
.item-link239,
.item-link240,
.item-link241,
.item-link242,
.item-link243 {
  top: 125px;
  width: 296.01px;
}
.item-link239,
.item-link240,
.item-link241,
.item-link242,
.item-link243 {
  top: 155px;
  width: 118.34px;
}
.item-link240,
.item-link241,
.item-link242,
.item-link243 {
  top: 185px;
  width: 112.89px;
}
.item-link241,
.item-link242,
.item-link243 {
  top: 215px;
  width: 147.98px;
}
.item-link242,
.item-link243 {
  top: 245px;
  width: 243.89px;
}
.item-link243 {
  top: 275px;
  width: 216.87px;
}
.divtd-block-wrap12,
.list24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 432px;
  height: 300px;
}
.divtd-block-wrap12 {
  top: 76.59px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
}
.divwpb-wrapper24 {
  position: absolute;
  top: 0;
  left: 24px;
  width: 432px;
  height: 376.59px;
}
.heading-334,
.item-link244,
.item-link245 {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.heading-334 {
  top: 42px;
  line-height: 21.6px;
  font-weight: 800;
  width: 89.06px;
  height: 21px;
}
.item-link244,
.item-link245 {
  top: 5px;
  line-height: 30px;
  width: 109.75px;
  height: 19px;
}
.item-link245 {
  top: 35px;
  width: 180.26px;
}
.item-link246,
.item-link247,
.item-link248,
.item-link249,
.item-link250,
.item-link251,
.item-link252 {
  position: absolute;
  top: 65px;
  left: 0;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 229.64px;
  height: 19px;
}
.item-link247,
.item-link248,
.item-link249,
.item-link250,
.item-link251,
.item-link252 {
  top: 95px;
  width: 199.17px;
}
.item-link248,
.item-link249,
.item-link250,
.item-link251,
.item-link252 {
  top: 125px;
  width: 98.56px;
}
.item-link249,
.item-link250,
.item-link251,
.item-link252 {
  top: 155px;
  width: 106.73px;
}
.item-link250,
.item-link251,
.item-link252 {
  top: 185px;
  width: 172.15px;
}
.item-link251,
.item-link252 {
  top: 215px;
  width: 245.67px;
}
.item-link252 {
  top: 245px;
  width: 91.25px;
}
.item-link253,
.item-link254,
.item-link255,
.item-link256,
.item-link257,
.item-link258,
.item-link259 {
  position: absolute;
  top: 275px;
  left: 0;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 99.81px;
  height: 19px;
}
.item-link254,
.item-link255,
.item-link256,
.item-link257,
.item-link258,
.item-link259 {
  top: 305px;
  width: 111.54px;
}
.item-link255,
.item-link256,
.item-link257,
.item-link258,
.item-link259 {
  top: 335px;
  width: 122.37px;
}
.item-link256,
.item-link257,
.item-link258,
.item-link259 {
  top: 365px;
  width: 241.47px;
}
.item-link257,
.item-link258,
.item-link259 {
  top: 395px;
  width: 101.72px;
}
.item-link258,
.item-link259 {
  top: 425px;
  width: 154.89px;
}
.item-link259 {
  top: 455px;
  width: 339.7px;
}
.divtd-block-wrap13,
.list25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 432px;
  height: 480px;
}
.divtd-block-wrap13 {
  top: 76.59px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
}
.divwpb-wrapper25 {
  position: absolute;
  top: 0;
  left: 504px;
  width: 432px;
  height: 556.59px;
}
.heading-335 {
  top: 13px;
  line-height: 33px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 432px;
  height: 27px;
}
.heading-335,
.pseudo6,
.trng-i-hc17 {
  position: absolute;
  left: 0;
}
.trng-i-hc17 {
  top: 64px;
  font-size: var(--font-size-mini);
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 177.68px;
  height: 18px;
}
.pseudo6 {
  top: 52.5px;
  background-color: var(--color-black);
  width: 120px;
  height: 1px;
}
.divtds-title6 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 432px;
  height: 84px;
  font-size: var(--font-size-4xl);
}
.link18,
.link19 {
  position: absolute;
  display: flex;
  align-items: center;
}
.link18 {
  top: 3px;
  left: 0;
  line-height: 14px;
  font-family: var(--font-font-awesome-5-free);
  width: 14.2px;
  height: 14px;
}
.link19 {
  top: 2px;
  left: 14px;
  line-height: 21px;
  width: 159.64px;
  height: 16px;
}
.div66 {
  position: relative;
  line-height: 14px;
}
.link20 {
  position: absolute;
  top: 23px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) 3.469999313354492px var(--padding-12xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-font-awesome-5-free);
}
.link-02636 {
  top: 23px;
  left: 17.47px;
  line-height: 21px;
  width: 223.21px;
  height: 16px;
}
.div67,
.link-02636,
.nh-a19-6 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div67 {
  top: 45px;
  left: 0;
  line-height: 14px;
  font-family: var(--font-font-awesome-5-free);
  width: 10.7px;
  height: 14px;
}
.nh-a19-6 {
  top: 44px;
  left: 10.5px;
  line-height: 21px;
  width: 421.64px;
  height: 16px;
}
.lt-lm-ng6,
.p11 {
  position: absolute;
  left: 0;
}
.lt-lm-ng6 {
  top: 65px;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 110.45px;
  height: 16px;
}
.p11 {
  top: 134px;
  width: 432px;
  height: 84px;
}
.vt-icon54,
.vt-icon55,
.vt-icon56 {
  position: absolute;
  top: -27px;
  left: 256px;
  width: 256px;
  height: 256px;
  object-fit: cover;
}
.vt-icon55,
.vt-icon56 {
  top: 256px;
}
.vt-icon56 {
  left: 0;
}
.vt-icon57,
.vt-icon58,
.vt-icon59,
.vt-icon60,
.vt-icon61,
.vt-icon62 {
  position: absolute;
  top: 0;
  left: 256px;
  width: 256px;
  height: 256px;
  object-fit: cover;
}
.vt-icon58,
.vt-icon59,
.vt-icon60,
.vt-icon61,
.vt-icon62 {
  top: -27px;
  left: 0;
}
.vt-icon59,
.vt-icon60,
.vt-icon61,
.vt-icon62 {
  left: -46px;
}
.vt-icon60,
.vt-icon61,
.vt-icon62 {
  top: 0;
  left: 0;
}
.vt-icon61,
.vt-icon62 {
  top: 256px;
  left: -46px;
}
.vt-icon62 {
  top: 0;
}
.region-bn12 {
  position: absolute;
  height: calc(100% - 449px);
  width: calc(100% - 431px);
  top: 27px;
  right: 385px;
  bottom: 422px;
  left: 46px;
}
.trng-i-hc18 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 142.06px;
  height: 16px;
}
.divplace-name6 {
  position: absolute;
  top: 9px;
  left: 11px;
  width: 200px;
  height: 16px;
  overflow: hidden;
  color: var(--color-black);
}
.ng-ph-ng6,
.ng-vit-nam6,
.phng-8-thnh6 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 173.56px;
  height: 14px;
}
.ng-vit-nam6,
.phng-8-thnh6 {
  top: 14px;
  width: 179.75px;
}
.ng-vit-nam6 {
  top: 28px;
  width: 83.17px;
}
.divaddress6 {
  position: absolute;
  top: 31px;
  left: 11px;
  width: 200px;
  height: 42px;
  font-size: var(--font-size-xs);
}
.div70 {
  position: absolute;
  top: 5px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 19.2px;
  height: 16px;
}
.divicon30 {
  position: relative;
  width: 11px;
  height: 11px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.img-xp-hng-455-sao6,
.link-6276 {
  position: absolute;
  top: 7px;
  display: flex;
}
.img-xp-hng-455-sao6 {
  left: 21.98px;
  flex-direction: row;
  padding: 0 0 var(--padding-10xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.link-6276 {
  left: 87.97px;
  font-size: var(--font-size-xs);
  color: var(--color-royalblue);
  align-items: center;
  width: 61.54px;
  height: 14px;
}
.divreview-box6,
.link-xem6 {
  position: absolute;
  top: 73px;
  left: 11px;
  width: 200px;
  height: 21px;
}
.link-xem6 {
  top: 104px;
  font-size: var(--font-size-xs);
  color: var(--color-royalblue);
  display: flex;
  align-items: center;
  width: 106.7px;
  height: 14px;
}
.divplace-card6 {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 215px;
  height: 127px;
}
.div-icon6,
.div69 {
  position: absolute;
  border-radius: var(--br-11xs);
  overflow: hidden;
}
.div69 {
  top: 10px;
  left: 10px;
  background-color: var(--color-white);
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  width: 217px;
  height: 129px;
}
.div-icon6 {
  top: 343px;
  left: 379px;
  width: 46px;
  height: 87px;
}
.div72,
.image-icon6 {
  position: absolute;
  top: 413.16px;
  left: 190px;
  width: 52px;
  height: 21.84px;
}
.div72 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 1px;
  background-color: var(--color-whitesmoke);
  width: 113.66px;
  opacity: 0.7;
}
.link-bo6 {
  position: absolute;
  top: 1.09px;
  left: 6px;
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 102.86px;
  height: 11px;
}
.div73,
.divgm-style-cc18 {
  position: absolute;
  top: 0;
  left: 258.61px;
  width: 114.66px;
  height: 14px;
}
.div73 {
  height: 100%;
  bottom: 0;
  left: 1px;
  background-color: var(--color-whitesmoke);
  width: 48.5px;
  opacity: 0.7;
}
.button-phm6 {
  position: absolute;
  top: 1.09px;
  left: 6px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.7px;
  height: 11px;
}
.divgm-style-cc19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 49.5px;
  height: 14px;
  text-align: center;
}
.div74 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 1px;
  background-color: var(--color-whitesmoke);
  width: 107.88px;
  opacity: 0.7;
}
.d-liu-bn6 {
  position: absolute;
  top: 1.09px;
  left: 6px;
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 97.08px;
  height: 11px;
}
.div75,
.divgm-style-cc20 {
  position: absolute;
  top: 0;
  left: 49.5px;
  width: 108.88px;
  height: 14px;
}
.div75 {
  height: 100%;
  bottom: 0;
  left: 1px;
  background-color: var(--color-whitesmoke);
  width: 99.23px;
  opacity: 0.7;
}
.link-iu6 {
  position: absolute;
  top: 1.09px;
  left: 6px;
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 88.43px;
  height: 11px;
}
.divgmnoprint6 {
  position: absolute;
  top: 0;
  left: 158.38px;
  width: 100.23px;
  height: 14px;
}
.div71 {
  position: absolute;
  height: calc(100% - 436px);
  width: calc(100% - 58.73px);
  top: 436px;
  right: 0;
  bottom: 0;
  left: 58.73px;
  text-align: right;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.kh-icon12,
.kh-icon13 {
  position: absolute;
  top: 256px;
  left: calc(50% + 199.5px);
  width: 256px;
  height: 256px;
  object-fit: cover;
}
.kh-icon13 {
  top: 233px;
}
.region-bn13 {
  position: absolute;
  height: calc(100% - 37px);
  width: calc(100% - 37px);
  top: -233px;
  right: 237px;
  bottom: 270px;
  left: -200px;
}
.divgm-inset-map-impl6 {
  position: relative;
  width: 38px;
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-hin-th-hnh-nh-qua6 {
  position: absolute;
  top: 397px;
  left: 10px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.divgm-style6 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.div68,
.divgm-style6,
.divmapdiv6 {
  height: 100%;
  top: 0;
  bottom: 0;
}
.div68 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.divmapdiv6 {
  width: 432px;
}
.body6,
.divmapdiv6,
.iframe6 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.body6 {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
  width: 432px;
}
.iframe6 {
  width: 100%;
  top: 266px;
  right: 0;
  height: 450px;
  color: var(--color-dimgray);
}
.divwpb-wrapper26,
.footer6 {
  position: absolute;
  top: 0;
  left: 984px;
  width: 432px;
  height: 722px;
  font-size: var(--font-size-sm);
}
.footer6 {
  top: 2817px;
  left: 240px;
  width: 1440px;
  height: 770px;
  font-size: var(--font-size-lg);
}
.trang-ch6 {
  position: relative;
  line-height: 48px;
  text-transform: uppercase;
}
.item-link260 {
  position: absolute;
  top: calc(50% - 24px);
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 13.389999389648438px 0 var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.gii-thiu12 {
  position: absolute;
  top: 0;
  left: 14px;
  line-height: 48px;
  text-transform: uppercase;
}
.icon30 {
  position: absolute;
  top: 16.75px;
  left: 97.49px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link261 {
  position: absolute;
  top: calc(50% - 24px);
  left: 110.39px;
  width: 119.61px;
  height: 48px;
  cursor: pointer;
}
.icon31 {
  position: absolute;
  top: 16.75px;
  left: 84.72px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link262 {
  position: absolute;
  top: calc(50% - 24px);
  left: 110px;
  width: 106.84px;
  height: 48px;
  cursor: pointer;
}
.icon32 {
  position: absolute;
  top: 16.75px;
  left: 112.63px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link263 {
  position: absolute;
  top: calc(50% - 24px);
  left: 336.84px;
  width: 134.75px;
  height: 48px;
}
.icon33 {
  position: absolute;
  top: 16.75px;
  left: 92.05px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link264 {
  position: absolute;
  top: calc(50% - 24px);
  left: 471.59px;
  width: 114.17px;
  height: 48px;
}
.icon34 {
  position: absolute;
  top: 16.75px;
  left: 105.73px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link265 {
  position: absolute;
  top: calc(50% - 24px);
  left: 585.77px;
  width: 127.86px;
  height: 48px;
  cursor: pointer;
}
.item-link266 {
  position: absolute;
  top: 0;
  left: 727.63px;
  line-height: 48px;
  text-transform: uppercase;
}
.list26 {
  position: absolute;
  top: calc(50% - 24px);
  left: 0;
  width: 980.11px;
  height: 48px;
}
.button-search-svg6 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% + 500px);
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.banner1-icon6,
.navbar6 {
  position: absolute;
  left: 426px;
  width: 1068px;
}
.navbar6 {
  top: 251px;
  height: 48px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.banner1-icon6 {
  top: 41px;
  height: 210px;
  object-fit: cover;
}
.divtdi-34-rand-style6,
.link21 {
  position: absolute;
  overflow: hidden;
}
.divtdi-34-rand-style6 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-olivedrab-200);
}
.link21 {
  top: 18.5px;
  left: 1053.59px;
  width: 6px;
  height: 12px;
}
.item-link267,
.item-link268,
.item-link269 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
}
.item-link268,
.item-link269 {
  left: 89.95px;
}
.item-link269 {
  left: 152.31px;
}
.item-link270,
.item-link271,
.item-link272 {
  position: absolute;
  top: 0;
  left: 244.02px;
  line-height: 28px;
}
.item-link271,
.item-link272 {
  left: 404.08px;
}
.item-link272 {
  left: 509px;
}
.list27 {
  left: 81.86px;
  width: 571.66px;
}
.divwpb-wrapper27,
.heading16,
.list27 {
  position: absolute;
  top: 0;
  height: 28px;
}
.divwpb-wrapper27 {
  left: 0;
  width: 1068px;
}
.heading16 {
  width: calc(100% - 836px);
  right: 426px;
  left: 426px;
  font-size: var(--font-size-2xs);
  font-family: var(--font-open-sans);
}
.thng-tin-tuyn20 {
  margin: 0;
}
.thng-tin-tuyn-container20 {
  position: relative;
  line-height: 23px;
}
.thng-tin-tuyn-container20:hover{
  color: #33cc33;
}
.heading-3-link20,
.time-0111202210 {
  position: absolute;
  left: 0;
  display: flex;
}
.heading-3-link20 {
  top: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.time-0111202210 {
  top: 51px;
  font-size: var(--font-size-2xs);
  line-height: 11px;
  font-family: var(--font-open-sans);
  color: var(--color-gray-200);
  align-items: center;
  width: 58.59px;
  height: 15px;
}
.divitem-details26,
.td2-1-icon5 {
  position: absolute;
  top: 7px;
  left: 115px;
  width: 209px;
  height: 70px;
}
.td2-1-icon5 {
  top: 1px;
  left: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.td25 {
  top: 707px;
  left: 1170px;
  width: 324px;
  color: var(--color-gray-400);
}
.td1-1-icon5,
.td15,
.td25 {
  position: absolute;
  height: 100px;
}
.td1-1-icon5 {
  top: 0;
  left: 0;
  width: 100px;
  object-fit: cover;
}
.td15 {
  top: 600px;
  left: 1170px;
  width: 324px;
  color: var(--color-gray-400);
}
.tuyn-dng5 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.spantd-pulldown-size16 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-olivedrab-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) 11.02999877929687var (--padding-8xs) 5px
    var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-46 {
  position: absolute;
  top: 564px;
  left: 1170px;
  border-bottom: 2px solid var(--color-olivedrab-100);
  box-sizing: border-box;
  width: 324px;
  height: 30px;
  font-size: var(--font-size-sm);
}
.heading-3-link22,
.time-0603202310 {
  position: absolute;
  left: 0;
  display: flex;
}
.heading-3-link22 {
  top: -1px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.time-0603202310 {
  top: 74px;
  font-size: var(--font-size-2xs);
  line-height: 11px;
  font-family: var(--font-open-sans);
  color: var(--color-gray-200);
  align-items: center;
  width: 58.59px;
  height: 15px;
}
.divitem-details28,
.tb2-1-icon5 {
  position: absolute;
  top: 0;
  left: 115px;
  width: 209px;
  height: 66px;
}
.tb2-1-icon5 {
  top: 4px;
  left: 0;
  width: 107px;
  height: 82px;
  object-fit: cover;
}
.tb25 {
  position: absolute;
  top: 457px;
  left: 1170px;
  width: 324px;
  height: 89px;
  color: var(--color-gray-400);
}
.divitem-details29,
.tb1-1-icon5 {
  position: absolute;
  top: 0;
  left: 115px;
  width: 209px;
  height: 68px;
}
.tb1-1-icon5 {
  left: 0;
  width: 107px;
  height: 86px;
  object-fit: cover;
}
.tb15 {
  position: absolute;
  top: 355px;
  left: 1170px;
  background-color: var(--color-white);
  width: 324px;
  height: 89px;
  color: var(--color-gray-400);
}
.thng-bo5 {
  position: relative;
  line-height: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.spantd-pulldown-size17 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-olivedrab-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) 11.33999633789062var (--padding-8xs) 5px
    var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-336 {
  position: absolute;
  top: 312px;
  left: 1170px;
  border-bottom: 2px solid var(--color-olivedrab-100);
  box-sizing: border-box;
  width: 324px;
  height: 30px;
  font-size: var(--font-size-sm);
}
.mmt1-1-icon,
.mmt2-1-icon {
  position: absolute;
  top: 312px;
  left: 426px;
  width: 714px;
  height: 496px;
  object-fit: cover;
}
.mmt2-1-icon {
  top: 860px;
  width: 1068px;
  height: 1957px;
}
.o-to-mmt {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3587px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.item-link260:hover{
  color: #ff9900;
}
.item-link261:hover{
  color: #ff9900;
}
.item-link262:hover{
  color: #ff9900;
}
.item-link263:hover{
  color: #ff9900;
}
.item-link264:hover{
  color: #ff9900;
}

.item-link265:hover{
  color: #ff9900;
}
.item-link266:hover{
  color: #ff9900;
}
.item-link261 {
  position: relative;
  display: inline-block;
}
.item-link262 {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 44px;
  margin-left: 3px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.item-link261:hover .dropdown-content {
  display: block;
}
.item-link262:hover .dropdown-content {
  display: block;
}
.item-link260::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link260:hover:after{
  width: 100%;
}
.item-link261::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link261:hover:after{
  width: 100%;
}
.item-link262::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link262:hover:after{
  width: 100%;
}
.item-link263::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link263:hover:after{
  width: 100%;
}
.item-link264::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link264:hover:after{
  width: 100%;
}
.item-link265::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link265:hover:after{
  width: 100%;
}
.item-link266::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link266:hover:after{
  width: 100%;
}