.divtdi-100-rand-style4 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -240px;
  background-color: var(--color-olivedrab-200);
  width: 1920px;
  overflow: hidden;
}
.heading-322,
.item-link156,
.item-link157,
.item-link158 {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.heading-322 {
  top: 42px;
  line-height: 21.6px;
  font-weight: 800;
  width: 210.09px;
  height: 21px;
}
.item-link156,
.item-link157,
.item-link158 {
  top: 5px;
  line-height: 30px;
  width: 184.67px;
  height: 19px;
}
.item-link157,
.item-link158 {
  top: 35px;
  width: 159.45px;
}
.item-link158 {
  top: 65px;
  width: 259.89px;
}
.item-link159,
.item-link160,
.item-link161,
.item-link162,
.item-link163,
.item-link164,
.item-link165 {
  position: absolute;
  top: 95px;
  left: 0;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 182.95px;
  height: 19px;
}
.item-link160,
.item-link161,
.item-link162,
.item-link163,
.item-link164,
.item-link165 {
  top: 125px;
  width: 296.01px;
}
.item-link161,
.item-link162,
.item-link163,
.item-link164,
.item-link165 {
  top: 155px;
  width: 118.34px;
}
.item-link162,
.item-link163,
.item-link164,
.item-link165 {
  top: 185px;
  width: 112.89px;
}
.item-link163,
.item-link164,
.item-link165 {
  top: 215px;
  width: 147.98px;
}
.item-link164,
.item-link165 {
  top: 245px;
  width: 243.89px;
}
.item-link165 {
  top: 275px;
  width: 216.87px;
}
.divtd-block-wrap8,
.list16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 432px;
  height: 300px;
}
.divtd-block-wrap8 {
  top: 76.59px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
}
.divwpb-wrapper16 {
  position: absolute;
  top: 0;
  left: 24px;
  width: 432px;
  height: 376.59px;
}
.heading-323,
.item-link166,
.item-link167 {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.heading-323 {
  top: 42px;
  line-height: 21.6px;
  font-weight: 800;
  width: 89.06px;
  height: 21px;
}
.item-link166,
.item-link167 {
  top: 5px;
  line-height: 30px;
  width: 109.75px;
  height: 19px;
}
.item-link167 {
  top: 35px;
  width: 180.26px;
}
.item-link168,
.item-link169,
.item-link170,
.item-link171,
.item-link172,
.item-link173,
.item-link174 {
  position: absolute;
  top: 65px;
  left: 0;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 229.64px;
  height: 19px;
}
.item-link169,
.item-link170,
.item-link171,
.item-link172,
.item-link173,
.item-link174 {
  top: 95px;
  width: 199.17px;
}
.item-link170,
.item-link171,
.item-link172,
.item-link173,
.item-link174 {
  top: 125px;
  width: 98.56px;
}
.item-link171,
.item-link172,
.item-link173,
.item-link174 {
  top: 155px;
  width: 106.73px;
}
.item-link172,
.item-link173,
.item-link174 {
  top: 185px;
  width: 172.15px;
}
.item-link173,
.item-link174 {
  top: 215px;
  width: 245.67px;
}
.item-link174 {
  top: 245px;
  width: 91.25px;
}
.item-link175,
.item-link176,
.item-link177,
.item-link178,
.item-link179,
.item-link180,
.item-link181 {
  position: absolute;
  top: 275px;
  left: 0;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 99.81px;
  height: 19px;
}
.item-link176,
.item-link177,
.item-link178,
.item-link179,
.item-link180,
.item-link181 {
  top: 305px;
  width: 111.54px;
}
.item-link177,
.item-link178,
.item-link179,
.item-link180,
.item-link181 {
  top: 335px;
  width: 122.37px;
}
.item-link178,
.item-link179,
.item-link180,
.item-link181 {
  top: 365px;
  width: 241.47px;
}
.item-link179,
.item-link180,
.item-link181 {
  top: 395px;
  width: 101.72px;
}
.item-link180,
.item-link181 {
  top: 425px;
  width: 154.89px;
}
.item-link181 {
  top: 455px;
  width: 339.7px;
}
.divtd-block-wrap9,
.list17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 432px;
  height: 480px;
}
.divtd-block-wrap9 {
  top: 76.59px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
}
.divwpb-wrapper17 {
  position: absolute;
  top: 0;
  left: 504px;
  width: 432px;
  height: 556.59px;
}
.heading-324 {
  top: 13px;
  line-height: 33px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 432px;
  height: 27px;
}
.heading-324,
.pseudo4,
.trng-i-hc11 {
  position: absolute;
  left: 0;
}
.trng-i-hc11 {
  top: 64px;
  font-size: var(--font-size-mini);
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 177.68px;
  height: 18px;
}
.pseudo4 {
  top: 52.5px;
  background-color: var(--color-black);
  width: 120px;
  height: 1px;
}
.divtds-title4 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 432px;
  height: 84px;
  font-size: var(--font-size-4xl);
}
.link12,
.link13 {
  position: absolute;
  display: flex;
  align-items: center;
}
.link12 {
  top: 3px;
  left: 0;
  line-height: 14px;
  font-family: var(--font-font-awesome-5-free);
  width: 14.2px;
  height: 14px;
}
.link13 {
  top: 2px;
  left: 14px;
  line-height: 21px;
  width: 159.64px;
  height: 16px;
}
.div44 {
  position: relative;
  line-height: 14px;
}
.link14 {
  position: absolute;
  top: 23px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) 3.469999313354492px var(--padding-12xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-font-awesome-5-free);
}
.link-02634 {
  top: 23px;
  left: 17.47px;
  line-height: 21px;
  width: 223.21px;
  height: 16px;
}
.div45,
.link-02634,
.nh-a19-4 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div45 {
  top: 45px;
  left: 0;
  line-height: 14px;
  font-family: var(--font-font-awesome-5-free);
  width: 10.7px;
  height: 14px;
}
.nh-a19-4 {
  top: 44px;
  left: 10.5px;
  line-height: 21px;
  width: 421.64px;
  height: 16px;
}
.lt-lm-ng4,
.p9 {
  position: absolute;
  left: 0;
}
.lt-lm-ng4 {
  top: 65px;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 110.45px;
  height: 16px;
}
.p9 {
  top: 134px;
  width: 432px;
  height: 84px;
}
.vt-icon36,
.vt-icon37,
.vt-icon38 {
  position: absolute;
  top: -27px;
  left: 256px;
  width: 256px;
  height: 256px;
  object-fit: cover;
}
.vt-icon37,
.vt-icon38 {
  top: 256px;
}
.vt-icon38 {
  left: 0;
}
.vt-icon39,
.vt-icon40,
.vt-icon41,
.vt-icon42,
.vt-icon43,
.vt-icon44 {
  position: absolute;
  top: 0;
  left: 256px;
  width: 256px;
  height: 256px;
  object-fit: cover;
}
.vt-icon40,
.vt-icon41,
.vt-icon42,
.vt-icon43,
.vt-icon44 {
  top: -27px;
  left: 0;
}
.vt-icon41,
.vt-icon42,
.vt-icon43,
.vt-icon44 {
  left: -46px;
}
.vt-icon42,
.vt-icon43,
.vt-icon44 {
  top: 0;
  left: 0;
}
.vt-icon43,
.vt-icon44 {
  top: 256px;
  left: -46px;
}
.vt-icon44 {
  top: 0;
}
.region-bn8 {
  position: absolute;
  height: calc(100% - 449px);
  width: calc(100% - 431px);
  top: 27px;
  right: 385px;
  bottom: 422px;
  left: 46px;
}
.trng-i-hc12 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 142.06px;
  height: 16px;
}
.divplace-name4 {
  position: absolute;
  top: 9px;
  left: 11px;
  width: 200px;
  height: 16px;
  overflow: hidden;
  color: var(--color-black);
}
.ng-ph-ng4,
.ng-vit-nam4,
.phng-8-thnh4 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 173.56px;
  height: 14px;
}
.ng-vit-nam4,
.phng-8-thnh4 {
  top: 14px;
  width: 179.75px;
}
.ng-vit-nam4 {
  top: 28px;
  width: 83.17px;
}
.divaddress4 {
  position: absolute;
  top: 31px;
  left: 11px;
  width: 200px;
  height: 42px;
  font-size: var(--font-size-xs);
}
.div48 {
  position: absolute;
  top: 5px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 19.2px;
  height: 16px;
}
.divicon20 {
  position: relative;
  width: 11px;
  height: 11px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.img-xp-hng-455-sao4,
.link-6274 {
  position: absolute;
  top: 7px;
  display: flex;
}
.img-xp-hng-455-sao4 {
  left: 21.98px;
  flex-direction: row;
  padding: 0 0 var(--padding-10xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.link-6274 {
  left: 87.97px;
  font-size: var(--font-size-xs);
  color: var(--color-royalblue);
  align-items: center;
  width: 61.54px;
  height: 14px;
}
.divreview-box4,
.link-xem4 {
  position: absolute;
  top: 73px;
  left: 11px;
  width: 200px;
  height: 21px;
}
.link-xem4 {
  top: 104px;
  font-size: var(--font-size-xs);
  color: var(--color-royalblue);
  display: flex;
  align-items: center;
  width: 106.7px;
  height: 14px;
}
.divplace-card4 {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 215px;
  height: 127px;
}
.div-icon4,
.div47 {
  position: absolute;
  border-radius: var(--br-11xs);
  overflow: hidden;
}
.div47 {
  top: 10px;
  left: 10px;
  background-color: var(--color-white);
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  width: 217px;
  height: 129px;
}
.div-icon4 {
  top: 343px;
  left: 379px;
  width: 46px;
  height: 87px;
}
.div50,
.image-icon4 {
  position: absolute;
  top: 413.16px;
  left: 190px;
  width: 52px;
  height: 21.84px;
}
.div50 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 1px;
  background-color: var(--color-whitesmoke);
  width: 113.66px;
  opacity: 0.7;
}
.link-bo4 {
  position: absolute;
  top: 1.09px;
  left: 6px;
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 102.86px;
  height: 11px;
}
.div51,
.divgm-style-cc12 {
  position: absolute;
  top: 0;
  left: 258.61px;
  width: 114.66px;
  height: 14px;
}
.div51 {
  height: 100%;
  bottom: 0;
  left: 1px;
  background-color: var(--color-whitesmoke);
  width: 48.5px;
  opacity: 0.7;
}
.button-phm4 {
  position: absolute;
  top: 1.09px;
  left: 6px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.7px;
  height: 11px;
}
.divgm-style-cc13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 49.5px;
  height: 14px;
  text-align: center;
}
.div52 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 1px;
  background-color: var(--color-whitesmoke);
  width: 107.88px;
  opacity: 0.7;
}
.d-liu-bn4 {
  position: absolute;
  top: 1.09px;
  left: 6px;
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 97.08px;
  height: 11px;
}
.div53,
.divgm-style-cc14 {
  position: absolute;
  top: 0;
  left: 49.5px;
  width: 108.88px;
  height: 14px;
}
.div53 {
  height: 100%;
  bottom: 0;
  left: 1px;
  background-color: var(--color-whitesmoke);
  width: 99.23px;
  opacity: 0.7;
}
.link-iu4 {
  position: absolute;
  top: 1.09px;
  left: 6px;
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 88.43px;
  height: 11px;
}
.divgmnoprint4 {
  position: absolute;
  top: 0;
  left: 158.38px;
  width: 100.23px;
  height: 14px;
}
.div49 {
  position: absolute;
  height: calc(100% - 436px);
  width: calc(100% - 58.73px);
  top: 436px;
  right: 0;
  bottom: 0;
  left: 58.73px;
  text-align: right;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.kh-icon8,
.kh-icon9 {
  position: absolute;
  top: 256px;
  left: calc(50% + 199.5px);
  width: 256px;
  height: 256px;
  object-fit: cover;
}
.kh-icon9 {
  top: 233px;
}
.region-bn9 {
  position: absolute;
  height: calc(100% - 37px);
  width: calc(100% - 37px);
  top: -233px;
  right: 237px;
  bottom: 270px;
  left: -200px;
}
.divgm-inset-map-impl4 {
  position: relative;
  width: 38px;
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-hin-th-hnh-nh-qua4 {
  position: absolute;
  top: 397px;
  left: 10px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.divgm-style4 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.div46,
.divgm-style4,
.divmapdiv4 {
  height: 100%;
  top: 0;
  bottom: 0;
}
.div46 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.divmapdiv4 {
  width: 432px;
}
.body4,
.divmapdiv4,
.iframe4 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.body4 {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
  width: 432px;
}
.iframe4 {
  width: 100%;
  top: 266px;
  right: 0;
  height: 450px;
  color: var(--color-dimgray);
}
.divwpb-wrapper18,
.footer4 {
  position: absolute;
  top: 0;
  left: 984px;
  width: 432px;
  height: 722px;
  font-size: var(--font-size-sm);
}
.footer4 {
  top: 880px;
  left: 240px;
  width: 1440px;
  height: 770px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.trang-ch4 {
  position: relative;
  line-height: 48px;
  text-transform: uppercase;
}
.item-link182 {
  position: absolute;
  top: calc(50% - 24px);
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 13.389999389648438px 0 var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.gii-thiu10 {
  position: absolute;
  top: 0;
  left: 14px;
  line-height: 48px;
  text-transform: uppercase;
}
.icon20 {
  position: absolute;
  top: 16.75px;
  left: 97.49px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link183 {
  position: absolute;
  top: calc(50% - 24px);
  left: 110.39px;
  width: 119.61px;
  height: 48px;
  cursor: pointer;
}
.icon21 {
  position: absolute;
  top: 16.75px;
  left: 84.72px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link184 {
  position: absolute;
  top: calc(50% - 24px);
  left: 110px;
  width: 106.84px;
  height: 48px;
  cursor: pointer;
}
.icon22 {
  position: absolute;
  top: 16.75px;
  left: 112.63px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link185 {
  position: absolute;
  top: calc(50% - 24px);
  left: 336.84px;
  width: 134.75px;
  height: 48px;
}
.icon23 {
  position: absolute;
  top: 16.75px;
  left: 92.05px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link186 {
  position: absolute;
  top: calc(50% - 24px);
  left: 471.59px;
  width: 114.17px;
  height: 48px;
}
.icon24 {
  position: absolute;
  top: 16.75px;
  left: 105.73px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link187 {
  position: absolute;
  top: calc(50% - 24px);
  left: 585.77px;
  width: 127.86px;
  height: 48px;
  cursor: pointer;
}
.item-link188 {
  position: absolute;
  top: 0;
  left: 727.63px;
  line-height: 48px;
  text-transform: uppercase;
}
.list18 {
  position: absolute;
  top: calc(50% - 24px);
  left: 0;
  width: 980.11px;
  height: 48px;
}
.button-search-svg4 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% + 500px);
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.banner1-icon4,
.navbar4 {
  position: absolute;
  left: 426px;
  width: 1068px;
}
.navbar4 {
  top: 251px;
  height: 48px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.banner1-icon4 {
  top: 41px;
  height: 210px;
  object-fit: cover;
}
.divtdi-34-rand-style4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-olivedrab-200);
  overflow: hidden;
}
.item-link189,
.item-link190,
.item-link191 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
}
.item-link190,
.item-link191 {
  left: 89.95px;
}
.item-link191 {
  left: 152.31px;
}
.item-link192,
.item-link193,
.item-link194 {
  position: absolute;
  top: 0;
  left: 244.02px;
  line-height: 28px;
}
.item-link193,
.item-link194 {
  left: 404.08px;
}
.item-link194 {
  left: 509px;
}
.list19 {
  left: 81.86px;
  width: 571.66px;
}
.divwpb-wrapper19,
.heading14,
.list19 {
  position: absolute;
  top: 0;
  height: 28px;
}
.divwpb-wrapper19 {
  left: 0;
  width: 1068px;
}
.heading14 {
  width: calc(100% - 836px);
  right: 426px;
  left: 426px;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
.thng-tin-tuyn12 {
  margin: 0;
}
.thng-tin-tuyn-container12 {
  position: relative;
  line-height: 23px;
}
.thng-tin-tuyn-container12:hover{
  color: #33cc33;
}
.heading-3-link12,
.time-011120226 {
  position: absolute;
  left: 0;
  display: flex;
}
.heading-3-link12 {
  top: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.time-011120226 {
  top: 51px;
  font-size: var(--font-size-2xs);
  line-height: 11px;
  font-family: var(--font-open-sans);
  color: var(--color-gray-200);
  align-items: center;
  width: 58.59px;
  height: 15px;
}
.divitem-details15,
.td2-1-icon3 {
  position: absolute;
  top: 7px;
  left: 115px;
  width: 209px;
  height: 70px;
}
.td2-1-icon3 {
  top: 1px;
  left: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.td23 {
  top: 707px;
  left: 1170px;
  width: 324px;
}
.td1-1-icon3,
.td13,
.td23 {
  position: absolute;
  height: 100px;
}
.td1-1-icon3 {
  top: 0;
  left: 0;
  width: 100px;
  object-fit: cover;
}
.td13 {
  top: 600px;
  left: 1170px;
  width: 324px;
}
.tuyn-dng3 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.spantd-pulldown-size12 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-olivedrab-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) 11.02999877929687var (--padding-8xs) 5px
    var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-44 {
  position: absolute;
  top: 564px;
  left: 1170px;
  border-bottom: 2px solid var(--color-olivedrab-100);
  box-sizing: border-box;
  width: 324px;
  height: 30px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.heading-3-link14,
.time-060320236 {
  position: absolute;
  left: 0;
  display: flex;
}
.heading-3-link14 {
  top: -1px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.time-060320236 {
  top: 74px;
  font-size: var(--font-size-2xs);
  line-height: 11px;
  font-family: var(--font-open-sans);
  color: var(--color-gray-200);
  align-items: center;
  width: 58.59px;
  height: 15px;
}
.divitem-details17,
.tb2-1-icon3 {
  position: absolute;
  top: 0;
  left: 115px;
  width: 209px;
  height: 66px;
}
.tb2-1-icon3 {
  top: 4px;
  left: 0;
  width: 107px;
  height: 82px;
  object-fit: cover;
}
.tb23 {
  position: absolute;
  top: 457px;
  left: 1170px;
  width: 324px;
  height: 89px;
}
.divitem-details18,
.tb1-1-icon3 {
  position: absolute;
  top: 0;
  left: 115px;
  width: 209px;
  height: 68px;
}
.tb1-1-icon3 {
  left: 0;
  width: 107px;
  height: 86px;
  object-fit: cover;
}
.tb13 {
  position: absolute;
  top: 355px;
  left: 1170px;
  background-color: var(--color-white);
  width: 324px;
  height: 89px;
}
.thng-bo3 {
  position: relative;
  line-height: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.spantd-pulldown-size13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-olivedrab-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) 11.33999633789062var (--padding-8xs) 5px
    var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-325 {
  position: absolute;
  top: 312px;
  left: 1170px;
  border-bottom: 2px solid var(--color-olivedrab-100);
  box-sizing: border-box;
  width: 324px;
  height: 30px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.heading-326 {
  position: absolute;
  top: 0;
  left: -24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 518.06px;
  height: 25px;
}
.cn1-1-icon,
.divitem-details19 {
  position: absolute;
  top: 2px;
  left: 360px;
  width: 316px;
  height: 150px;
}
.cn1-1-icon {
  left: 0;
  width: 320px;
  height: 148px;
  object-fit: cover;
}
.cn1 {
  position: absolute;
  top: 340px;
  left: 426px;
  width: 720px;
  height: 150px;
  cursor: pointer;
  font-size: var(--font-size-3xl);
}
.divitem-details20 {
  top: 0;
  left: 360px;
  width: 316px;
}
.cn2,
.cn2-1-icon,
.cn3,
.divitem-details20 {
  position: absolute;
  height: 150px;
}
.cn2-1-icon {
  top: 0;
  left: 0;
  width: 324px;
  object-fit: cover;
}
.cn2,
.cn3 {
  top: 676px;
  left: 426px;
  width: 720px;
  cursor: pointer;
  font-size: var(--font-size-3xl);
}
.cn2 {
  top: 508px;
}
.o-to4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1650px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-gray-400);
  font-family: var(--font-roboto);
}
.item-link182:hover{
  color: #ff9900;
}
.item-link183:hover{
  color: #ff9900;
}
.item-link184:hover{
  color: #ff9900;
}
.item-link185:hover{
  color: #ff9900;
}
.item-link186:hover{
  color: #ff9900;
}

.item-link187:hover{
  color: #ff9900;
}
.item-link188:hover{
  color: #ff9900;
}
.item-link183 {
  position: relative;
  display: inline-block;
}
.item-link184 {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 44px;
  margin-left: 3px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.item-link183:hover .dropdown-content {
  display: block;
}
.item-link184:hover .dropdown-content {
  display: block;
}
.cn1:hover{
  color: #33cc33;
}
.cn2:hover{
  color: #33cc33;
}
.cn3:hover{
  color: #33cc33;
}
.item-link182::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link182:hover:after{
  width: 100%;
}
.item-link185::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link185:hover:after{
  width: 100%;
}
.item-link186::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link186:hover:after{
  width: 100%;
}
.item-link187::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link187:hover:after{
  width: 100%;
}
.item-link188::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link188:hover:after{
  width: 100%;
}
.item-link183::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link183:hover:after{
  width: 100%;
}
.item-link184::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link184:hover:after{
  width: 100%;
}
