.divtdi-100-rand-style3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -240px;
  background-color: var(--color-olivedrab-200);
  width: 1920px;
  overflow: hidden;
}
.heading-318,
.item-link117,
.item-link118,
.item-link119 {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.heading-318 {
  top: 42px;
  line-height: 21.6px;
  font-weight: 800;
  width: 210.09px;
  height: 21px;
}
.item-link117,
.item-link118,
.item-link119 {
  top: 5px;
  line-height: 30px;
  width: 184.67px;
  height: 19px;
}
.item-link118,
.item-link119 {
  top: 35px;
  width: 159.45px;
}
.item-link119 {
  top: 65px;
  width: 259.89px;
}
.item-link120,
.item-link121,
.item-link122,
.item-link123,
.item-link124,
.item-link125,
.item-link126 {
  position: absolute;
  top: 95px;
  left: 0;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 182.95px;
  height: 19px;
}
.item-link121,
.item-link122,
.item-link123,
.item-link124,
.item-link125,
.item-link126 {
  top: 125px;
  width: 296.01px;
}
.item-link122,
.item-link123,
.item-link124,
.item-link125,
.item-link126 {
  top: 155px;
  width: 118.34px;
}
.item-link123,
.item-link124,
.item-link125,
.item-link126 {
  top: 185px;
  width: 112.89px;
}
.item-link124,
.item-link125,
.item-link126 {
  top: 215px;
  width: 147.98px;
}
.item-link125,
.item-link126 {
  top: 245px;
  width: 243.89px;
}
.item-link126 {
  top: 275px;
  width: 216.87px;
}
.divtd-block-wrap6,
.list12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 432px;
  height: 300px;
}
.divtd-block-wrap6 {
  top: 76.59px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
}
.divwpb-wrapper12 {
  position: absolute;
  top: 0;
  left: 24px;
  width: 432px;
  height: 376.59px;
}
.heading-319,
.item-link127,
.item-link128 {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.heading-319 {
  top: 42px;
  line-height: 21.6px;
  font-weight: 800;
  width: 89.06px;
  height: 21px;
}
.item-link127,
.item-link128 {
  top: 5px;
  line-height: 30px;
  width: 109.75px;
  height: 19px;
}
.item-link128 {
  top: 35px;
  width: 180.26px;
}
.item-link129,
.item-link130,
.item-link131,
.item-link132,
.item-link133,
.item-link134,
.item-link135 {
  position: absolute;
  top: 65px;
  left: 0;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 229.64px;
  height: 19px;
}
.item-link130,
.item-link131,
.item-link132,
.item-link133,
.item-link134,
.item-link135 {
  top: 95px;
  width: 199.17px;
}
.item-link131,
.item-link132,
.item-link133,
.item-link134,
.item-link135 {
  top: 125px;
  width: 98.56px;
}
.item-link132,
.item-link133,
.item-link134,
.item-link135 {
  top: 155px;
  width: 106.73px;
}
.item-link133,
.item-link134,
.item-link135 {
  top: 185px;
  width: 172.15px;
}
.item-link134,
.item-link135 {
  top: 215px;
  width: 245.67px;
}
.item-link135 {
  top: 245px;
  width: 91.25px;
}
.item-link136,
.item-link137,
.item-link138,
.item-link139,
.item-link140,
.item-link141,
.item-link142 {
  position: absolute;
  top: 275px;
  left: 0;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 99.81px;
  height: 19px;
}
.item-link137,
.item-link138,
.item-link139,
.item-link140,
.item-link141,
.item-link142 {
  top: 305px;
  width: 111.54px;
}
.item-link138,
.item-link139,
.item-link140,
.item-link141,
.item-link142 {
  top: 335px;
  width: 122.37px;
}
.item-link139,
.item-link140,
.item-link141,
.item-link142 {
  top: 365px;
  width: 241.47px;
}
.item-link140,
.item-link141,
.item-link142 {
  top: 395px;
  width: 101.72px;
}
.item-link141,
.item-link142 {
  top: 425px;
  width: 154.89px;
}
.item-link142 {
  top: 455px;
  width: 339.7px;
}
.divtd-block-wrap7,
.list13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 432px;
  height: 480px;
}
.divtd-block-wrap7 {
  top: 76.59px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
}
.divwpb-wrapper13 {
  position: absolute;
  top: 0;
  left: 504px;
  width: 432px;
  height: 556.59px;
}
.heading-320 {
  top: 13px;
  line-height: 33px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 432px;
  height: 27px;
}
.heading-320,
.pseudo3,
.trng-i-hc8 {
  position: absolute;
  left: 0;
}
.trng-i-hc8 {
  top: 64px;
  font-size: var(--font-size-mini);
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 177.68px;
  height: 18px;
}
.pseudo3 {
  top: 52.5px;
  background-color: var(--color-black);
  width: 120px;
  height: 1px;
}
.divtds-title3 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 432px;
  height: 84px;
  font-size: var(--font-size-4xl);
}
.link10,
.link9 {
  position: absolute;
  display: flex;
  align-items: center;
}
.link9 {
  top: 3px;
  left: 0;
  line-height: 14px;
  font-family: var(--font-font-awesome-5-free);
  width: 14.2px;
  height: 14px;
}
.link10 {
  top: 2px;
  left: 14px;
  line-height: 21px;
  width: 159.64px;
  height: 16px;
}
.div33 {
  position: relative;
  line-height: 14px;
}
.link11 {
  position: absolute;
  top: 23px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) 3.469999313354492px var(--padding-12xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-font-awesome-5-free);
}
.link-02633 {
  top: 23px;
  left: 17.47px;
  line-height: 21px;
  width: 223.21px;
  height: 16px;
}
.div34,
.link-02633,
.nh-a19-3 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div34 {
  top: 45px;
  left: 0;
  line-height: 14px;
  font-family: var(--font-font-awesome-5-free);
  width: 10.7px;
  height: 14px;
}
.nh-a19-3 {
  top: 44px;
  left: 10.5px;
  line-height: 21px;
  width: 421.64px;
  height: 16px;
}
.lt-lm-ng3,
.p8 {
  position: absolute;
  left: 0;
}
.lt-lm-ng3 {
  top: 65px;
  line-height: 21px;
  display: flex;
  align-items: center;
  width: 110.45px;
  height: 16px;
}
.p8 {
  top: 134px;
  width: 432px;
  height: 84px;
}
.vt-icon27,
.vt-icon28,
.vt-icon29 {
  position: absolute;
  top: -27px;
  left: 256px;
  width: 256px;
  height: 256px;
  object-fit: cover;
}
.vt-icon28,
.vt-icon29 {
  top: 256px;
}
.vt-icon29 {
  left: 0;
}
.vt-icon30,
.vt-icon31,
.vt-icon32,
.vt-icon33,
.vt-icon34,
.vt-icon35 {
  position: absolute;
  top: 0;
  left: 256px;
  width: 256px;
  height: 256px;
  object-fit: cover;
}
.vt-icon31,
.vt-icon32,
.vt-icon33,
.vt-icon34,
.vt-icon35 {
  top: -27px;
  left: 0;
}
.vt-icon32,
.vt-icon33,
.vt-icon34,
.vt-icon35 {
  left: -46px;
}
.vt-icon33,
.vt-icon34,
.vt-icon35 {
  top: 0;
  left: 0;
}
.vt-icon34,
.vt-icon35 {
  top: 256px;
  left: -46px;
}
.vt-icon35 {
  top: 0;
}
.region-bn6 {
  position: absolute;
  height: calc(100% - 449px);
  width: calc(100% - 431px);
  top: 27px;
  right: 385px;
  bottom: 422px;
  left: 46px;
}
.divplace-name3,
.trng-i-hc9 {
  position: absolute;
  height: 16px;
}
.trng-i-hc9 {
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 142.06px;
}
.divplace-name3 {
  top: 9px;
  left: 11px;
  width: 200px;
  overflow: hidden;
  color: var(--color-black);
}
.ng-ph-ng3,
.ng-vit-nam3,
.phng-8-thnh3 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 173.56px;
  height: 14px;
}
.ng-vit-nam3,
.phng-8-thnh3 {
  top: 14px;
  width: 179.75px;
}
.ng-vit-nam3 {
  top: 28px;
  width: 83.17px;
}
.divaddress3 {
  position: absolute;
  top: 31px;
  left: 11px;
  width: 200px;
  height: 42px;
  font-size: var(--font-size-xs);
}
.div37 {
  position: absolute;
  top: 5px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 19.2px;
  height: 16px;
}
.divicon15 {
  position: relative;
  width: 11px;
  height: 11px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.img-xp-hng-455-sao3,
.link-6273 {
  position: absolute;
  top: 7px;
  display: flex;
}
.img-xp-hng-455-sao3 {
  left: 21.98px;
  flex-direction: row;
  padding: 0 0 var(--padding-10xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.link-6273 {
  left: 87.97px;
  font-size: var(--font-size-xs);
  color: var(--color-royalblue);
  align-items: center;
  width: 61.54px;
  height: 14px;
}
.divreview-box3,
.link-xem3 {
  position: absolute;
  top: 73px;
  left: 11px;
  width: 200px;
  height: 21px;
}
.link-xem3 {
  top: 104px;
  font-size: var(--font-size-xs);
  color: var(--color-royalblue);
  display: flex;
  align-items: center;
  width: 106.7px;
  height: 14px;
}
.divplace-card3 {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 215px;
  height: 127px;
}
.div-icon3,
.div36 {
  position: absolute;
  border-radius: var(--br-11xs);
  overflow: hidden;
}
.div36 {
  top: 10px;
  left: 10px;
  background-color: var(--color-white);
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  width: 217px;
  height: 129px;
}
.div-icon3 {
  top: 343px;
  left: 379px;
  width: 46px;
  height: 87px;
}
.div39,
.image-icon3 {
  position: absolute;
  top: 413.16px;
  left: 190px;
  width: 52px;
  height: 21.84px;
}
.div39 {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 1px;
  background-color: var(--color-whitesmoke);
  width: 113.66px;
  opacity: 0.7;
}
.link-bo3 {
  position: absolute;
  top: 1.09px;
  left: 6px;
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 102.86px;
  height: 11px;
}
.div40,
.divgm-style-cc9 {
  position: absolute;
  top: 0;
  left: 258.61px;
  width: 114.66px;
  height: 14px;
}
.div40 {
  height: 100%;
  bottom: 0;
  left: 1px;
  background-color: var(--color-whitesmoke);
  width: 48.5px;
  opacity: 0.7;
}
.button-phm3 {
  position: absolute;
  top: 1.09px;
  left: 6px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.7px;
  height: 11px;
}
.divgm-style-cc10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 49.5px;
  height: 14px;
  text-align: center;
}
.div41 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 1px;
  background-color: var(--color-whitesmoke);
  width: 107.88px;
  opacity: 0.7;
}
.d-liu-bn3 {
  position: absolute;
  top: 1.09px;
  left: 6px;
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 97.08px;
  height: 11px;
}
.div42,
.divgm-style-cc11 {
  position: absolute;
  top: 0;
  left: 49.5px;
  width: 108.88px;
  height: 14px;
}
.div42 {
  height: 100%;
  bottom: 0;
  left: 1px;
  background-color: var(--color-whitesmoke);
  width: 99.23px;
  opacity: 0.7;
}
.link-iu3 {
  position: absolute;
  top: 1.09px;
  left: 6px;
  line-height: 14px;
  display: flex;
  align-items: center;
  width: 88.43px;
  height: 11px;
}
.divgmnoprint3 {
  position: absolute;
  top: 0;
  left: 158.38px;
  width: 100.23px;
  height: 14px;
}
.div38 {
  position: absolute;
  height: calc(100% - 436px);
  width: calc(100% - 58.73px);
  top: 436px;
  right: 0;
  bottom: 0;
  left: 58.73px;
  text-align: right;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.kh-icon6,
.kh-icon7 {
  position: absolute;
  top: 256px;
  left: calc(50% + 199.5px);
  width: 256px;
  height: 256px;
  object-fit: cover;
}
.kh-icon7 {
  top: 233px;
}
.region-bn7 {
  position: absolute;
  height: calc(100% - 37px);
  width: calc(100% - 37px);
  top: -233px;
  right: 237px;
  bottom: 270px;
  left: -200px;
}
.divgm-inset-map-impl3 {
  position: relative;
  width: 38px;
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-hin-th-hnh-nh-qua3 {
  position: absolute;
  top: 397px;
  left: 10px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.divgm-style3 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.div35,
.divgm-style3,
.divmapdiv3 {
  height: 100%;
  top: 0;
  bottom: 0;
}
.div35 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.divmapdiv3 {
  width: 432px;
}
.body3,
.divmapdiv3,
.iframe3 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.body3 {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
  width: 432px;
}
.iframe3 {
  width: 100%;
  top: 266px;
  right: 0;
  height: 450px;
  color: var(--color-dimgray);
}
.divwpb-wrapper14,
.footer3 {
  position: absolute;
  top: 0;
  left: 984px;
  width: 432px;
  height: 722px;
  font-size: var(--font-size-sm);
}
.footer3 {
  top: 2829px;
  left: 240px;
  width: 1440px;
  height: 770px;
  font-size: var(--font-size-lg);
}
.trang-ch3 {
  position: relative;
  line-height: 48px;
  text-transform: uppercase;
}
.item-link143 {
  position: absolute;
  top: calc(50% - 24px);
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 13.389999389648438px 0 var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.gii-thiu9 {
  position: absolute;
  top: 0;
  left: 14px;
  line-height: 48px;
  text-transform: uppercase;
}
.icon15 {
  position: absolute;
  top: 16.75px;
  left: 97.49px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link144 {
  position: absolute;
  top: calc(50% - 24px);
  left: 110.39px;
  width: 119.61px;
  height: 48px;
  cursor: pointer;
}
.icon16 {
  position: absolute;
  top: 16.75px;
  left: 84.72px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link145 {
  position: absolute;
  top: calc(50% - 24px);
  left: 110px;
  width: 106.84px;
  height: 48px;
  cursor: pointer;
}
.icon17 {
  position: absolute;
  top: 16.75px;
  left: 112.63px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link146 {
  position: absolute;
  top: calc(50% - 24px);
  left: 336.84px;
  width: 134.75px;
  height: 48px;
}
.icon18 {
  position: absolute;
  top: 16.75px;
  left: 92.05px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link147 {
  position: absolute;
  top: calc(50% - 24px);
  left: 471.59px;
  width: 114.17px;
  height: 48px;
}
.icon19 {
  position: absolute;
  top: 16.75px;
  left: 105.73px;
  width: 8.13px;
  height: 14px;
  overflow: hidden;
}
.item-link148 {
  position: absolute;
  top: calc(50% - 24px);
  left: 585.77px;
  width: 127.86px;
  height: 48px;
  cursor: pointer;
}
.item-link149 {
  position: absolute;
  top: 0;
  left: 727.63px;
  line-height: 48px;
  text-transform: uppercase;
}
.list14 {
  position: absolute;
  top: calc(50% - 24px);
  left: 0;
  width: 980.11px;
  height: 48px;
}
.button-search-svg3 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% + 500px);
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.banner1-icon3,
.navbar3 {
  position: absolute;
  left: 426px;
  width: 1068px;
}
.navbar3 {
  top: 251px;
  height: 48px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.banner1-icon3 {
  top: 41px;
  height: 210px;
  object-fit: cover;
}
.divtdi-34-rand-style3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-olivedrab-200);
  overflow: hidden;
}
.item-link150,
.item-link151,
.item-link152 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28px;
}
.item-link151,
.item-link152 {
  left: 89.95px;
}
.item-link152 {
  left: 152.31px;
}
.item-link153,
.item-link154,
.item-link155 {
  position: absolute;
  top: 0;
  left: 244.02px;
  line-height: 28px;
}
.item-link154,
.item-link155 {
  left: 404.08px;
}
.item-link155 {
  left: 509px;
}
.list15 {
  left: 81.86px;
  width: 571.66px;
}
.divwpb-wrapper15,
.heading13,
.list15 {
  position: absolute;
  top: 0;
  height: 28px;
}
.divwpb-wrapper15 {
  left: 0;
  width: 1068px;
}
.heading13 {
  width: calc(100% - 836px);
  right: 426px;
  left: 426px;
  font-size: var(--font-size-2xs);
  font-family: var(--font-open-sans);
}
.ts-1-icon,
.ts2-1-icon {
  position: absolute;
  top: 312px;
  left: 426px;
  width: 692px;
  height: 940px;
  object-fit: cover;
}
.ts2-1-icon {
  top: 1265px;
  width: 1068px;
  height: 1491px;
}
.thng-tin-tuyn8 {
  margin: 0;
}
.thng-tin-tuyn-container8 {
  position: relative;
  line-height: 23px;
  
}
.thng-tin-tuyn-container8:hover{
  color:#33cc33;
}
.heading-3-link8,
.time-011120224 {
  position: absolute;
  left: 0;
  display: flex;
}
.heading-3-link8 {
  top: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.time-011120224 {
  top: 51px;
  font-size: var(--font-size-2xs);
  line-height: 11px;
  font-family: var(--font-open-sans);
  color: var(--color-gray-200);
  align-items: center;
  width: 58.59px;
  height: 15px;
}
.divitem-details11,
.td2-1-icon2 {
  position: absolute;
  top: 7px;
  left: 115px;
  width: 209px;
  height: 70px;
}
.td2-1-icon2 {
  top: 1px;
  left: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.td22 {
  top: 707px;
  left: 1170px;
  width: 324px;
  color: var(--color-gray-400);
}
.td1-1-icon2,
.td12,
.td22 {
  position: absolute;
  height: 100px;
}
.td1-1-icon2 {
  top: 0;
  left: 0;
  width: 100px;
  object-fit: cover;
}
.td12 {
  top: 600px;
  left: 1170px;
  width: 324px;
  color: var(--color-gray-400);
}
.tuyn-dng2 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.spantd-pulldown-size10 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-olivedrab-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) 11.02999877929687var (--padding-8xs) 5px
    var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-43 {
  position: absolute;
  top: 564px;
  left: 1170px;
  border-bottom: 2px solid var(--color-olivedrab-100);
  box-sizing: border-box;
  width: 324px;
  height: 30px;
  font-size: var(--font-size-sm);
}
.heading-3-link10,
.time-060320234 {
  position: absolute;
  left: 0;
  display: flex;
}
.heading-3-link10 {
  top: -1px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.time-060320234 {
  top: 74px;
  font-size: var(--font-size-2xs);
  line-height: 11px;
  font-family: var(--font-open-sans);
  color: var(--color-gray-200);
  align-items: center;
  width: 58.59px;
  height: 15px;
}
.divitem-details13,
.tb2-1-icon2 {
  position: absolute;
  top: 0;
  left: 115px;
  width: 209px;
  height: 66px;
}
.tb2-1-icon2 {
  top: 4px;
  left: 0;
  width: 107px;
  height: 82px;
  object-fit: cover;
}
.tb22 {
  position: absolute;
  top: 457px;
  left: 1170px;
  width: 324px;
  height: 89px;
  color: var(--color-gray-400);
}
.divitem-details14,
.tb1-1-icon2 {
  position: absolute;
  top: 0;
  left: 115px;
  width: 209px;
  height: 68px;
}
.tb1-1-icon2 {
  left: 0;
  width: 107px;
  height: 86px;
  object-fit: cover;
}
.tb12 {
  position: absolute;
  top: 355px;
  left: 1170px;
  background-color: var(--color-white);
  width: 324px;
  height: 89px;
  color: var(--color-gray-400);
}
.thng-bo2 {
  position: relative;
  line-height: 18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.spantd-pulldown-size11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-olivedrab-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) 11.33999633789062var (--padding-8xs) 5px
    var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-321 {
  position: absolute;
  top: 312px;
  left: 1170px;
  border-bottom: 2px solid var(--color-olivedrab-100);
  box-sizing: border-box;
  width: 324px;
  height: 30px;
  font-size: var(--font-size-sm);
}
.tuyn-sinh3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3599px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.item-link143:hover{
  color: #ff9900;
}
.item-link144:hover{
  color: #ff9900;
}
.item-link145:hover{
  color: #ff9900;
}
.item-link146:hover{
  color: #ff9900;
}
.item-link147:hover{
  color: #ff9900;
}

.item-link148:hover{
  color: #ff9900;
}
.item-link149:hover{
  color: #ff9900;
}
.item-link144 {
  position: relative;
  display: inline-block;
}
.item-link145 {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 44px;
  margin-left: 3px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.item-link144:hover .dropdown-content {
  display: block;
}
.item-link145:hover .dropdown-content {
  display: block;
}
.item-link143::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link143:hover:after{
  width: 100%;
}
.item-link146::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link146:hover:after{
  width: 100%;
}
.item-link146::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link146:hover:after{
  width: 100%;
}
.item-link147::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link147:hover:after{
  width: 100%;
}
.item-link148::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link148:hover:after{
  width: 100%;
}
.item-link149::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link149:hover:after{
  width: 100%;
}
.item-link144::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link144:hover:after{
  width: 100%;
}
.item-link145::after{
  content: "";
  position: absolute;
  background-color: #ff9900;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.3s;
}
.item-link145:hover:after{
  width: 100%;
}